<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <header class="header">
    <div class='nav'>
      <div class="nav__left">
        <%= link_to 'カテゴリー', "#", class: "category-list" %>
        <%= link_to 'ブランド', "#", class: "brand-list" %>
      </div>
      <% if user_signed_in? %>
        <div class="nav__right">
          <%= link_to current_user.nickname, root_path, class: "user-nickname" %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to 'ログイン', new_user_session_path, class: "login" %>
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
        </div>
      <% end %>
    </div>
  </header>
  <%= yield %>
</body>

</html>
